<h1>LOGIN</h1>
      <form ngNativeValidate (submit)="login()" (ngSubmit)="login()">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name"  id="name"  [(ngModel)]="name"
            placeholder="Enter Your Name" required autofocus>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password"id="password"  [(ngModel)]="password"
            placeholder="Enter Your Password" required autofocus>
        </div>
        <div>
            <button type="submit">submit</button>
        </div>
        </form>
