<h2>List Of Users</h2>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Mail_id</th>
            <th>Password</th>
            <th>MobileNumnber</th>
            <th>DELETE</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i= index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.mail_id}}</td>
            <td>{{user.password}}</td>
            <td>{{user.mobilenumber}}</td>
             <td><button type="button" (click)="deleteuser(user.name)"class="btn-danger"> DELETE</button></td>
            </tr>
    </tbody>
</table>
<a href="adminlogin" class="previous">&laquo; Previous</a>

<a href="listorders" class="next" style="margin-left:1200px;">Next &raquo;</a>

