
<!-- <body>
    
   <h1>Welcome to online Two wheeler showroom</h1>

    <h6 id="h6">Select a login for:</h6>
    <div id="AdminLogin">
       <a routerLink="adminlogin"><input type="button" value="Admin Login"></a> 
         
    </div>
    <div id="UserLogin">
        <a routerLink="login"><input type="button" value="Login"></a>       
    </div>
     
     <h6 id="h6">Select for Register:</h6>
     <div id="Regsiter">
     <a routerLink="register"><input type="button" value="Register"></a>
     </div>
</body> -->
<body>
    <h1>Welcome to online Two wheeler showroom</h1>
    <img src="Bikers-Wallpapers-2-1.jpg">
</body>
