h1{
    margin-top: 10px;
    margin-left: 500px;
    font-family: Courier New;
    font-size: 45px;
}
div{
    padding: 10px;
    margin-left: 500px;
}
 body
{
    position: absolute;
    top: 100px;
    left: 250px;
    opacity: 0.5;
    background-attachment: cover;
    background-size:fill;
}   
.reg{
    width: 1980px;
    height: 1150px;
}

#submit{
    background-color: green;
}
