


<!-- {{Bikes | json}} -->

<table class="table table-bordered">

    <thead>
        <tr>
            <th>S.no</th>
            <th>Bikename</th>
            <th>Model</th>
            <th>Color</th>
            <th>Millage</th>
            <th>Warranty</th>
            <th>Year</th>
            <th>Price</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let bike of bikes;let i= index">
            <td>{{i+1}}</td>
            <td>{{bike.bikename}}</td>
            <td>{{bike.model}}</td>
            <td>{{bike.color}}</td>
            <td>{{bike.millage}}</td>
            <td>{{bike.warranty}}</td>
            <td>{{bike.year}}</td>
            <td>{{bike.price}}</td>
            </tr>
    </tbody>
</table>
